<!-- INSERT USER------------------ -->
<form [formGroup]="formData">
  <div class="form-update row p-5">
    <div class="row justify-content-center mb-3">
      <div class="col-md-4 fw-bold">
        <label>Cập nhật thể loại </label>
      </div>
    </div>
    <div class="row">
      <div class="form-group col-md-5">
        <label htmlFor="name">Tên thể loại</label>
        <input
          style="height: '40px'"
          type="text"
          class="form-control form-control-lg"
          id="name"
          placeholder=""
          formControlName="name"
        />
        <ng-container
          *ngIf="
            (formData.get('name')?.invalid && isSubmitted) ||
            formData.get('name')?.dirty ||
            formData.get('name')?.touched
          "
        >
          <span
            class="text-danger"
            *ngIf="formData.get('name')?.errors?.['required']"
          >
            Tên thượng hiệu không được trống.
          </span>
        </ng-container>
      </div>
      <div class="form-group col-md-5">
        <div class="first_wrapper">
          <div class="filter_div">Brand</div>
          <div class="d-flex align-content-start flex-wrap">
            <div *ngFor="let item of listBrand">
              <input
                type="checkbox"
                [id]="item.id + 'brand'"
                [checked]="listCheckBrandIds.includes(item.id)"
                (change)="handleCheckBrandId(item.id)"
                class="btn-check"
              />
              <label
                class="btn btn-outline-dark btn-sm my-1 mx-1"
                [htmlFor]="item.id + 'brand'"
                >{{ item.name }}</label
              >
            </div>
          </div>
        </div>
        <ng-container>
          <span
            class="text-danger"
            *ngIf="listCheckBrandIds.length <= 0 && isSubmitted"
          >
            Thương hiệu không được trống.
          </span>
        </ng-container>
      </div>
    </div>
    <div class="mt-5">
      <button
        (click)="onSubmit()"
        style="width: '100px'"
        class="me-4 btn btn-outline-info mb-2 p-3"
      >
        Xác nhận
      </button>
      <a routerLink="/admin-category-list">
        <button style="width: '100px'" class="btn btn-outline-danger mb-2 p-3">
          Quay lại
        </button>
      </a>
    </div>
  </div>
</form>
