<table class="table table-hover table-content">
  <thead>
    <tr>
      <th scope="col">STT</th>
      <th scope="col">Họ và tên</th>
      <th scope="col">Email</th>
      <th scope="col" style="max-width: '90px'">Số điện thoại</th>
      <th scope="col">Địa chỉ</th>
      <th scope="col">Role</th>
      <th scope="col">Thao tác</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of userList">
      <th class="" scope="row">{{item.id}}</th>
      <td style="max-width: '200px'">{{item.fullname}}</td>
      <td>{{item.email}}</td>
      <td style="max-width: '90px'">{{item.phone}}</td>
      <td>{{item.address}}</td>
      <td>{{item.role.description}}</td>
      <td class="table-action">
        <a [routerLink]="'/admin-user-update/' + item.id"> <i class="bi bi-pencil-square text-info fs-3"></i> </a>
        <a routerLink="/admin-user-list" (click)="deleteUser(item.id, item.name)"> <i class="bi bi-trash text-danger fs-3 ms-3"></i> </a>
      </td>
    </tr>
  </tbody>
</table>
