<!-- INSERT USER------------------ -->
<form [formGroup]="formData">
  <div class="form-update row p-5">
    <div class="row justify-content-center mb-3">
      <div class="col-md-4 fw-bold">
        <label>Thêm mới người dùng </label>
      </div>
    </div>
    <div class="row">
      <div class="form-group col-md-5">
        <label htmlFor="name">Họ và tên</label>
        <input
          style="height: '40px'"
          type="text"
          class="form-control form-control-lg"
          id="name"
          formControlName="fullname"
        />
        <ng-container
          *ngIf="
            (formData.get('fullname')?.invalid && isSubmitted) ||
            formData.get('fullname')?.dirty ||
            formData.get('fullname')?.touched
          "
        >
          <span
            class="text-danger"
            *ngIf="formData.get('fullname')?.errors?.['required']"
          >
            Họ và tên không được trống.
          </span>
        </ng-container>
      </div>

      <div class="form-group col-md-5">
        <label htmlFor="name">Email</label>
        <input
          style="height: '40px'"
          type="text"
          class="form-control form-control-lg"
          id="email"
          formControlName="email"
        />
        <ng-container
          *ngIf="
            (formData.get('email')?.invalid && isSubmitted) ||
            formData.get('email')?.dirty ||
            formData.get('email')?.touched
          "
        >
          <span
            class="text-danger"
            *ngIf="formData.get('email')?.errors?.['required']"
          >
            Email không được trống.
          </span>
          <span
            class="text-danger"
            *ngIf="formData.get('email')?.errors?.['pattern']"
          >
            Email không hợp lệ.
          </span>
        </ng-container>
      </div>
    </div>

    <div class="row mt-2">
      <div class="form-group col-md-5">
        <label htmlFor="name">Số điện thoại</label>
        <input
          style="height: '40px'"
          type="text"
          class="form-control form-control-lg"
          id="phone"
          formControlName="phone"
        />
        <ng-container
          *ngIf="
            (formData.get('phone')?.invalid && isSubmitted) ||
            formData.get('phone')?.dirty ||
            formData.get('phone')?.touched
          "
        >
          <span
            class="text-danger"
            *ngIf="formData.get('phone')?.errors?.['required']"
          >
            Số điện thoại không được trống.
          </span>
        </ng-container>
      </div>
      <div class="form-group col-md-5">
        <label htmlFor="price">Địa chỉ</label>
        <input
          style="height: '40px'"
          type="text"
          class="form-control form-control-lg"
          id="address"
          formControlName="address"
        />
        <ng-container
          *ngIf="
            (formData.get('address')?.invalid && isSubmitted) ||
            formData.get('address')?.dirty ||
            formData.get('address')?.touched
          "
        >
          <span
            class="text-danger"
            *ngIf="formData.get('address')?.errors?.['required']"
          >
            Địa chỉ không được trống.
          </span>
        </ng-container>
      </div>
    </div>

    <div class="row mt-2">
      <div class="col-md-5">
        <label htmlFor="newPassword" class="">Mật khẩu mới</label>
        <input
          style="height: '35px'"
          type="password"
          class="form-control form-control-lg"
          id="newPassword"
          formControlName="password"
        />
        <ng-container
          *ngIf="
            (formData.get('password')?.invalid && isSubmitted) ||
            formData.get('password')?.dirty ||
            formData.get('password')?.touched
          "
        >
          <span
            class="text-danger"
            *ngIf="formData.get('password')?.errors?.['required']"
          >
            Mật khẩu không được trống.
          </span>
          <span
            class="text-danger"
            *ngIf="formData.get('password')?.errors?.['minlength']"
          >
            Mật khẩu phải dài hơn 6 kí tự.
          </span>
        </ng-container>
      </div>
      <div class="form-group col-md-5">
        <label htmlFor="brand">Vai trò</label>
        <select
          style="height: '40px'"
          class="form-control form-control-lg"
          id="role"
          formControlName="role"
        >
          <option *ngFor="let item of roleList" [value]="item.id">
            {{ item.description }}
          </option>
        </select>
        <ng-container
          *ngIf="
            (formData.get('role')?.invalid && isSubmitted) ||
            formData.get('role')?.dirty ||
            formData.get('role')?.touched
          "
        >
          <span
            class="text-danger"
            *ngIf="formData.get('role')?.errors?.['required']"
          >
            Vai trò không được trống.
          </span>
        </ng-container>
      </div>
    </div>

    <div class="mt-5">
      <button
        style="width: '100px'"
        class="me-4 btn btn-outline-info mb-2 p-3"
        (click)="onSubmit()"
      >
        Xác nhận
      </button>
      <a routerLink="/admin-user-list">
        <button style="width: '100px'" class="btn btn-outline-danger mb-2 p-3">
          Quay lại
        </button>
      </a>
    </div>
  </div>
</form>
